.reduce {
	margin: auto;
	padding: 10px;
	width: 60%;
}

legend {
	width: 20%;
	margin-bottom: 50px;
	border-bottom: none;
	text-align: center;
}

fieldset {
	border: 1px solid #ccc;
	padding: 10px;
}

table, th, td{
	text-align: center;
}

.paginate {
	text-align: center;
}

input:required:focus {
	border: 1px solid #ff8080;
}

.user-control {
	padding-left: 0px;
	padding-right: 0px;
}

@media screen and (max-width: 768px) {
	.reduce {
		width: 100%;
	}
}

@media screen and (max-width: 992px) {
	.dataTable {
		margin-top: 20px;
	}
}