.reduce {
	margin: auto;
	padding: 10px;
	width: 60%;
}

legend {
	width: 20%;
	margin-bottom: 50px;
	border-bottom: none;
	text-align: center;
}

fieldset {
	border: 1px solid #ccc;
	padding: 10px;
}

table, th, td{
	text-align: center;
}

.paginate {
	text-align: center;
}

input:required:focus {
	border: 1px solid #ff8080;
}

.user-control {
	padding-left: 0px;
	padding-right: 0px;
}

@media screen and (max-width: 768px) {
	.reduce {
		width: 100%;
	}
}

.user-control {
	padding-left: 0px;
}
.navbar {
    margin-bottom: 0px;
}

.navbar-inverse {
    border-radius: 0px;
    z-index: 1000;
}

/*     sidebox       */
#sidebox {
    position: absolute;
    left: -290px;
    width: 290px;
    height: 100%;
    padding: 20px;
    background: #000000; 
    color: #fff;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    z-index: 500;
}

#sidebox:target {
    left: 0px;
}

#sidebox a.ouvrir,
#sidebox a.fermer {
    padding: 25px 10px;
    background: #000;
    color: #fff;
    text-decoration: none;
    position: absolute;
    right: -34px;
    top: 150px;
    border-radius: 0 8px 8px 0;
}

#sidebox a.fermer {
    display: none;
}

#sidebox:target a.ouvrir {
    display: none;
}

#sidebox:target a.fermer {
    display: block;
}

#sidebox_clos:target #sidebox {
    left: -290px;
}

#sidebox_clos #sidebox{
    position: fixed;
}

.formsidebox{
    padding-top: 70px;
}

.divinput {
    margin-bottom: 30px;
}

/*    sidebox sur ecran smartphone    */
@media screen and (max-width: 768px) {
    #sidebox {
        width: 100%;
    }
    
    #sidebox a.fermer {
        right: 0px !important;
        top: 50px !important;
        border-radius: 0px !important;
    }
    
    #sidebox_clos:target #sidebox {
        left: -100% !important;
    }
    
    #sidebox a.ouvrir {
        right: -34px !important;
        top: 150px !important;
    }
}

/*     chevauchement recherche tableau       */
@media screen and (max-width: 992px) {
	.dataTable {
		margin-top: 20px;
	}

}
