<div class="container-fluid">
    <main>
        <div class="col-md-6">
            <form action="#" method="post" class="form-horizontal">
                <fieldset>
                    <legend class="hidden-sm hidden-xs">Média</legend>
                    <div class="form-group">
                        <label for="title" class="control-label col-md-2 col-md-offset-2 hidden-xs">Titre</label>
                        <div class="col-md-7 editFields">
                            <input ng-model="mediaCtrl.media.titre" type="text" name="title" id="title" placeholder="Titre" value="Titre" class="form-control"  ng-show="edit" required>
                            <label class="control-label" ng-bind="mediaCtrl.media.titre" ng-show="!edit"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="author" class="control-label col-md-2 col-md-offset-2 hidden-xs">Auteur</label>
                        <div class="col-md-7 editFields">
                            <input ng-model="mediaCtrl.media.auteur" type="text" name="author" id="author" placeholder="Auteur" value="Auteur" class="form-control"  ng-show="edit" required>
                            <label class="control-label" ng-bind="mediaCtrl.media.auteur" ng-show="!edit"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-md-offset-2 hidden-xs">Type</label>
                        <div class="col-md-7 editFields">
                            <select ng-model="mediaCtrl.media.type" name="type" class="form-control" ng-show="edit">
                                <option value="Livre">Livre</option>
                                <option value="CD">CD</option>
                                <option value="DVD">DVD</option>
                            </select>
                            <label class="control-label" ng-bind="mediaCtrl.media.type" ng-show="!edit"></label>
                        </div>
                    </div>
                    <div class="col-md-offset-10"  ng-show="!edit">
                        <button type="button" class="btn btn-success edit" ng-click="edit = true">Editer</button>
                    </div>
                    <div class="col-md-offset-8"  ng-show="edit">
                        <button type="button" class="btn btn-success save"  ng-click="edit = false">Modifier</button>
                        <button type="button" class="btn btn-danger cancel" ng-click="edit = false">Annuler</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class=" row col-md-6 dataTable">
            <table class="table table-condensed table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th><span class="glyphicon glyphicon-export" aria-hidden="true"></span></th>
                        <th><span class="glyphicon glyphicon-import" aria-hidden="true"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="mediaCtrl.media.emprunteurs.length == 0 || mediaCtrl.media.emprunteurs == null">
                        <td colspan="3">Pas d'emprunt</td>
                    </tr>
                    <tr ng-repeat="emprunteur in mediaCtrl.media.emprunteurs">
                        <td ng-bind="emprunteur.adherent.prenom + ' ' + emprunteur.adherent.nom"></td>
                        <td ng-bind="emprunteur.depart"></td>
                        <td ng-bind="emprunteur.retour"></td>
                    </tr>
                </tbody>
            </table>
            <div class="paginate">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
            <form class="form-inline">
                <fieldset>
                    <!-- <legend>title or explanatory caption</legend> -->
                    <div class="form-group">
                        <label for="name" class="hidden-xs hidden-sm hidden-md">Nom</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Nom" required>
                    </div>
                    <div class="form-group">
                        <label for="date" class="hidden-xs hidden-sm hidden-md">Emprunt</label>
                        <input type="date" name="date" id="date" class="form-control startDate" required>
                    </div>
                    <button type="button" class="btn btn-success">Ajouter</button>
                </fieldset>
            </form>
        </div>
    </main>
</div>